body{
    width: 80%;
    margin: 0 10%;
}

table, th,td{
    border: 1px solid black;
}

td:last-child{
    text-align: center;
}

td:nth-child(2){
    text-align: center;
}

.articles{
    width: 100%;
    display: flex;
}

.articles article{
    width: 33%;
    display: flex;
    flex-direction:  column;
    align-items: center;
}

.articles article img{
    width: 50%;
    height: 150px;
}

.articles article p{
    width: 70%;
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer nav ul li{
    list-style: none;
    margin: 10px 0;
}